*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #1e3d59;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
margin: auto;
}
form{
display: flex;
flex-direction: column;

gap: 40px;
}

.app{
  background-color: #f5f0e1;
  width:60vw;
  height: 80vh;
  margin: auto;
  display: flex ;
  flex-direction: column;
  padding: 20px;
  border-radius:5%;
  justify-content:space-between;


}

.city,.country{
  width:80% !important;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  margin:10px auto 0;
  border-bottom : solid #ff6e40 .1rem;
  border-bottom-width:.3em;
background-color: #f5f0e1;
color: #1e3d59 ;
font-size: 19px;
  position: relative;
}

.city:focus,.country:focus{
  border-bottom : solid #1e3d59 .3rem;

outline: none;
}

#search{
  width: 80%;
  margin: auto;
  padding: 8px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ffc13b;
  border: none;
  outline: none;
  color: #1e3d59;
  transition: 0.2s;
}

#search:hover{
  background-color: #1e3d59;
  color: #ff6e40;
}

.container{
  width: 100%;
  background-color: #1e3d59;
  height: 100%;
  margin-top: 10px;
  padding: 10px;
  text-align:center;
  color: #f5f0e1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}
.container span{
  background-color: #f5f0e1;
  width: 100%;
  color: #ff6e40;
  padding:7px ;
text-align: center;
margin: auto ;
  border-radius: 5px;
}

